<h1 class="page-header__title">Provider employee details</h1>
<%= render "admin/shared/shortcut-nav" %>


<%= render "filters" %>

<% if @services.present? %>
  <div class="table-holder">
    <%= render partial: 'list', locals: { services: @services } %>
  </div>
  <%= paginate @services %>
<% else %>
  <p class="no-results no-results--big">No services found</p>
<% end %>
