<div class="two-thirds">

  <h1 class="page-title">You need to sign in to continue</h1>

  <p>You'll be sent to sign in using your email address and password.</p>

  <div class="form-actions">
    <%= button_to "Sign in", "/auth/outpost", class: "button button--primary" %>
  </div>

</div>
