<h1 class="page-header__title">Provider employee details</h1>
<%= render "admin/shared/shortcut-nav" %>
<%= render "admin/shared/filters", show_employee_specific_filters: true, show_provider_filter: true, show_service_specific_filters: false %>

<% if @employees.present? %>
  <%= render 'admin/shared/employees', show_employee_specific_table: true, show_service_specific_table: false %>
  <%= paginate @employees %>
<% else %>
  <div>
    <h1>No employees found</td>
  </div>
<% end %>
