<% content_for :title do %>Confirmation | <% end %>

<% content_for :header do %>
    <div class="confirmation-panel two-thirds">
        <h1 class="confirmation-panel__heading">Your records have been updated</h1>
    </div>
<% end %>

<div class="two-thirds confirmation-body">

    <h2>What happens next</h2>

    <p>We'll email you if we have any questions about your employee records.</p>

    <p>You can make changes to these records at any time. You need to update these records at least once a term.</p>

    <h2>If you have questions</h2>

    <p>You can <a href="https://account.buckscc.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-bd2fe042-4aa1-48eb-84df-aec344f8c712/AF-Stage-af67e41d-f54a-4f7d-a454-ec072fddb78c/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">contact us</a> to ask about the process.</p>

</div>