<div class="two-thirds">

        <h1 class="page-title">You need an account first</h1>

        <p>You can register and list your services online now.</p>

        <div class="form-actions">
            <%= link_to "Continue", "#", class: "button button--secondary" %>
        </div>

</div>