<div class="two-thirds">

        <h1 class="page-title">You need an account to continue</h1>

        <p>First, you'll need to make an account and list your services on our directory.</p>

        <div class="form-actions">
            <%= link_to "Continue", "#", class: "button button--secondary" %>
        </div>

</div>