<% content_for :preheader do%>
    <div class="pre-header">
      <ul class="breadcrumbs container">
        <li class="breadcrumbs__crumb"><a href="#">Home</a></li>
        <li class="breadcrumbs__crumb"><a href="#">Families and children</a></li>
        <li class="breadcrumbs__crumb">Childcare</li>
      </ul>
    </div>
<% end %>

<% content_for :header do %>
    <h1 class="page-header__title">Tell us who you employ</h1>
<% end %>

<div class="with-sidebar">
    <main>
        <p>Use this service to:</p>

        <ul>
            <li>Give us the personal details of the childcare workers you employ</li>
            <li>Check, change and confirm that the details we currently hold are still up to date</li>
        </ul>

        <p>If you’re an Ofsted registered childminder, organisation or setting that provides childcare in Buckinghamshire, you need to give us up-to-date records of the people you employ.</p>

        <h2>How often should I update my records?</h2>

        <p>It’s best to keep your records up to date whenever your employees change.</p>

        <p>You should check your records at least twice a year. Normally this is at the start of each academic term.</p>

        <div class="form-actions">
        <%= link_to "Start now", eligibility_path, class: "button" %>
        </div>
        
        <h2>Before you start</h2>

        <p>You’ll need the account details you use to manage your service in the Family Information Service’s directory.</p>

        <p>If you don’t have an account, you’ll need to <a href="#">register first</a>.</p>
    </main>
</div>
