.edit {
  &:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(asset_path("edit.svg"));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 13px;
  }
}
