// /admin/employees/1/edit

.employee-detail {
  border-bottom: 1px solid #999999;
  padding-bottom: 40px;
  color: #999999;
}

.employee-info-table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
.employee-info-table tr.table-column {
  background-color: #ffffff;
}

.employee-info-table tr {
  background-color: #ffffff;
}

.employee-info-table td {
  background-color: #ffffff;
}

.edit-actions {
  float: right;
}
