.page-title{
    font-size: 2.5rem;
    margin-top: -20px !important;
    margin-bottom: 35px;
    @media screen and (min-width: $breakpoint-m){
        margin-top: -30px !important;
        margin-bottom: 45px;
        font-size: 3rem;
    }
}