// extends outpost tags

.tag {
  margin-top: 10px;

  .active {
    background-color: #dae7b8;
    color: #526d0d;
    border: 1px solid #b3cc6e;
  }

  .inactive {
    background-color: #ffdede;
    color: #bb0b0b;
    border: 1px solid #ff0000;
  }
}
