@import "bucks-fis-design-library/vars";
@import "bucks-fis-design-library/mixins";

$max-width: 1000px;

@import "bucks-fis-design-library/globals";

// utility classes
@import "bucks-fis-design-library/layout";

// common page layout
@import "bucks-fis-design-library/header";
@import "bucks-fis-design-library/beta-banner";
@import "bucks-fis-design-library/nav";
@import "bucks-fis-design-library/page-header";
@import "bucks-fis-design-library/footer";

// components
@import "bucks-fis-design-library/go-back";
@import "bucks-fis-design-library/buttons";
@import "bucks-fis-design-library/forms";
@import "bucks-fis-design-library/tables";
@import "bucks-fis-design-library/pagination";
@import "bucks-fis-design-library/alerts";
@import "bucks-fis-design-library/notices";
@import "bucks-fis-design-library/errors";
@import "bucks-fis-design-library/confirmation";
@import "bucks-fis-design-library/radios";
@import "bucks-fis-design-library/tags";
@import "bucks-fis-design-library/mini-search";
@import "bucks-fis-design-library/filters";
@import "bucks-fis-design-library/collapsibles";

@import "breadcrumbs";
// @import "radio";
@import "page-title";
@import "flow";

.table-action {
  margin-left: 10px;
}

.table-holder {
  width: 100%;
  overflow-x: auto;
}

.sorting-icon {
  width: 10px;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block; 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.filters__select {
  max-width:none; 
}

.tag {
  margin-top: 10px;
}

.margin-top--md {
  margin-top: 10px;
}

.bg--active {
  background-color: #dae7b8;
}
.color--active {
  color: #526D0D;
}
.border--active {
  border: 1px solid #B3CC6E;
}

.bg--inactive {
  background-color: #FFDEDE;
}

.color--inactive {
  color: #BB0B0B;
}
.border--inactive {
  border: 1px solid #FF0000;
}

.employee-detail {
  border-bottom: 1px solid #999999;
  padding-bottom: 40px;
  color: #999999;
}

.table--employee-info td {
  background-color: #FFFFFF;
}