@import "@outpost-platform/outpost-design-library/vars";
@import "@outpost-platform/outpost-design-library/mixins";

$max-width: 1000px;

@import "@outpost-platform/outpost-design-library/globals";

// utility classes
@import "@outpost-platform/outpost-design-library/layout";

// common page layout
@import "@outpost-platform/outpost-design-library/header";
@import "@outpost-platform/outpost-design-library/beta-banner";
@import "@outpost-platform/outpost-design-library/nav";
@import "@outpost-platform/outpost-design-library/page-header";
@import "@outpost-platform/outpost-design-library/footer";

// components
@import "@outpost-platform/outpost-design-library/go-back";
@import "@outpost-platform/outpost-design-library/buttons";
@import "@outpost-platform/outpost-design-library/forms";
@import "@outpost-platform/outpost-design-library/tables";
@import "@outpost-platform/outpost-design-library/pagination";
@import "@outpost-platform/outpost-design-library/alerts";
@import "@outpost-platform/outpost-design-library/notices";
@import "@outpost-platform/outpost-design-library/errors";
@import "@outpost-platform/outpost-design-library/confirmation";
@import "@outpost-platform/outpost-design-library/radios";
@import "@outpost-platform/outpost-design-library/tags";
@import "@outpost-platform/outpost-design-library/mini-search";
@import "@outpost-platform/outpost-design-library/filters";
@import "@outpost-platform/outpost-design-library/collapsibles";
@import "@outpost-platform/outpost-design-library/shortcut-nav";

@import "breadcrumbs";
@import "page-title";
@import "edit";

// temporarily removed so that status colors align with Outpost
@import "tags";

.table-action {
  margin-left: 10px;
}

.table-holder {
  width: 100%;
  overflow-x: auto;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.sorting-icon {
  width: 10px;
  margin-left: 5px;
  vertical-align: middle;
}

.add_record_button {
  float: right;
}

.filters-body {
  justify-content: space-evenly;
}

.filters__select {
  max-width: none;
}

.employee-info-table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
.employee-info-table tr.table-column {
  background-color: #ffffff;
}

.employee-info-table tr {
  background-color: #ffffff;
}

.employee-info-table td {
  background-color: #ffffff;
}

.employee-detail {
  border-bottom: 1px solid #999999;
  padding-bottom: 40px;
  color: #999999;
}

.edit-actions {
  float: right;
}

.qualifications tr.table-column {
  border-bottom: 1px solid #999999;
}

.skills tr.table-column {
  border-bottom: 1px solid #999999;
}

.filters-services {
  display: inline;
  max-width: 50%;
}
